<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <wish-logo></wish-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-hide="!user.isAdmin">
                <a ui-sref-active="active" ui-sref="admin">Admin Panel</a>
            </li>
            <li class="dropdown">
                <button class="dropbtn">Shop</button>
                <div class="dropdown-content" >
                <a ui-sref="collections({id:'all'})">All Products</a>
                <a ui-sref="collections({id:collection.id})" ng-repeat="collection in collections">{{collection.name}}</a>
                </div>
            </li>
            <li>
                <a ng-show="user" ng-click="logout()">Logout</a>
            </li>
        </ul>

        
        <button ui-sref="shoppingCart" class="btn btn-warning btn-lg btn-nav-cart"><span class="glyphicon glyphicon-shopping-cart"></span><span ng-show="user"> {{ user.name }}'s</span> Cart</button>

        <button ng-show="!user" ui-sref="login" class="btn btn-info btn-lg btn-login">Login or Sign Up</button>


    </div>
</nav>


