<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <wish-logo></wish-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-hide="!user.isAdmin">
                <a ui-sref-active="active" ui-sref="admin">Admin Panel</a>
            </li>
        </ul>


<div class="dropdown">
<button class="dropbtn">Shop</button>
    <div class="dropdown-content">
        <a ui-sref="collections({id:'all'})">All Products</a>
        <a ui-sref="collections({id:'1'})">Career</a>
        <a ui-sref="collections({id:'2'})">Health</a>
        <a ui-sref="collections({id:'3'})">Luxury</a>
        <a ui-sref="collections({id:'4'})">Romance</a>
    </div>
</div>

        <button ui-sref="shoppingCart" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</button>


        <button ng-show="!user" ui-sref="login" class="btn btn-primary btn-lg">Login or Sign Up</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>

    </div>







</nav>

<div class="dropdown">
<button class="dropbtn">Shop</button>
    <div class="dropdown-content">
        <a ui-sref="collections({id:'all'})">All</a>
        <a ui-sref="collections({id:'1'})">Health</a>
        <a ui-sref="collections({id:'2'})">Career</a>
        <a ui-sref="collections({id:'4'})">Luxury</a>
        <a ui-sref="collections({id:'3'})">Romance</a>
    </div>
</div>







  <!-- <div>
            <ul>
            <li ui-sref-active="active" class="menu-item active">
                <a ui-sref="collections">Collections</a>
            </li>
            <li>
                <a ui-sref="collections({id:'all'})">All</a>
            </li>
            <li ng-repeat="item in items">
                <a ui-sref="collections({id:item.id})">{{ item.name }}</a>
            </li>
        </ul>
  </div> -->
<!-- <sidebar></sidebar> -->
