<h4>Edit My Account</h4>
<!--this update my account function still needs to be written-->
<form ng-submit="">

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" ng-model="edit.email" class="form-control" id="email" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label for="edit-password">Password</label>
    <input type="password" name="password" ng-model="edit.password" class="form-control" id="edit-password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>

</form>
