<div>
	<h3>Create new product</h3>

	<form name="productForm" ng-model="productForm" ng-submit="createProduct(product)">
		<label for="productname">Name</label>
		<input class="form-control" type="text" ng-model="product.name" name="productname">

		<label for="description">Description</label>
		<input class="form-control" type="text" ng-model="product.description" name="description">

		<label for="price">Price</label>
		<input class="form-control" type="text" ng-model="product.price" name="price">

		<label for="image">Image URL</label>
		<input class="form-control" type="text" ng-model="product.imageUrl" name="image">

		<label for="inventory">Inventory Quantity</label>
		<input class="form-control" type="text" ng-model="product.inventoryQuantity" name="inventory">

		<label for="collection">Collection</label>
		<select ng-options="collection.name for collection in collections" class="form-control" ng-model="product.collection" name="collection">
		</select>

		<button type="submit" class="btn btn-success" ng-disabled="productForm.$invalid" >Create Product</button>
	</form>

	<br>

	<h3>Update current products</h3>

	<ul>
		<div ng-repeat="product in products">
		<section class="bg-info container" >
		<h4> Name: </h4><p contenteditable>{{product.name}}</p>
		<h4>Description: </h4><p contenteditable>{{product.description}}</p>
		<h4> Price: </h4><p contenteditable>{{product.price}}</p>
		<h4> Image URL: </h4><p contenteditable>{{product.imageUrl}}</p>
		<h4> Inventory Quantity: </h4><p contenteditable>{{product.inventoryQuantity}}</p>
		<h4> Collection: </h4><p contenteditable>{{product.collection}}</p>
		<button type="submit" class="btn btn-success" ng-click="editProduct(product)">Update Product</button>
		<button type="submit" class="btn btn-success" ng-click="deleteProduct(product)">Delete Product</button>
		</section>
		<hr>
		</div>
	</ul>
</div>