<div class="col-xs-10">
  <h1>Hey Admin</h1>
  <ul class="nav nav-tabs">
  <li ui-sref-active="active"><a ui-sref='admin.users'>Manage Users</a></li>
  <li ui-sref-active="active"><a ui-sref='admin.products'>Manage Products</a></li>
  <li ui-sref-active="active"><a ui-sref='admin.orders'>Manage Orders</a></li>
  <li ui-sref-active="active"><a ui-sref='admin.collections'>Manage Collections</a></li>
  <li ui-sref-active="active"><a ui-sref='admin.reviews'>Manage Reviews</a></li>
  </ul>

  <ui-view></ui-view>
 </div>