<div>
	<h3>Create new collection</h3>

	<form name="collectionForm" ng-model="collectionForm" ng-submit="createCollection(collection)">
		<label for="productname">Name</label>
		<input class="form-control" type="text" ng-model="collection.name" name="collectionname">

		<button type="submit" class="btn btn-success" ng-disabled="collection.$invalid" >Create Collection</button>
	</form>

	<br>

	<h3>Update current collections</h3>

	<ul>
		<li ng-repeat="collection in collections">
		<h4>Name: {{collection.name}}</h4>
		<button type="submit" class="btn btn-success" ng-click="deleteCollection(collection)">Delete Collection</button>
		</li>
	</ul>
</div>