<div>
	<h3>Create new product</h3>

	<form name="productForm" ng-model="productForm" ng-submit="createProduct(product)">
		<label for="productname">Name</label>
		<input class="form-control" type="text" ng-model="product.name" name="productname">

		<label for="description">Description</label>
		<input class="form-control" type="text" ng-model="product.description" name="description">

		<label for="price">Price</label>
		<input class="form-control" type="text" ng-model="product.price" name="price">

		<label for="image">Image URL</label>
		<input class="form-control" type="text" ng-model="product.imageUrl" name="image">

		<label for="inventory">Inventory Quantity</label>
		<input class="form-control" type="text" ng-model="product.inventoryQuantity" name="inventory">

		<label for="collection">Collection</label>
		<select ng-options="collection.name for collection in collections" class="form-control" ng-model="product.collection" name="collection">
		</select>

		<button type="submit" class="btn btn-success" ng-disabled="productForm.$invalid" >Create Product</button>
	</form>

	<br>

	<h3>Update current products</h3>

	<div class="panel input-group">
      <span class="input-group-addon">Filter</span>
      <input type="text" class="form-control" placeholder="by name" ng-model="nameSearch">
    </div>

	<ul>
		<section class="bg-info container" >

		<div ng-repeat="product in products | filter: { name: nameSearch }">
			  <div class="container">
			  <div class="row">
			    <div class="col-lg-6"></div>
			    <div class="col-lg-6">
			      <h1>{{ product.name }}</h1>
			    </div>
			  </div>

			  <div class="row">
			    <div class="col-lg-6">
			      <img id="productImage" ng-src="{{ product.imageUrl }}" class="product-image">
			    </div>
			    <div class="col-lg-6">
			      <p>{{ product.description }}</p>
			    </div>
			  </div>

			  <div class="row">
			    <div class="col-lg-6">
			    </div>
			    <div class="col-lg-6">
			      <h2>${{ product.price }}</h2>
			    </div>
			  </div>

		<form name="newProductForm" novalidate>
		<label for="productName">
		<h4> Name: </h4>
		</label>	
		<input type="text" name="productName" ng-model="newproduct.name" class="form-control">
		<label for="productDesc">
		<h4> Description: </h4>
		</label>	
		<input type="text" name="productDesc" ng-model="newproduct.description" class="form-control">
		<label for="productPrice">
		<h4> Price: </h4>
		</label>	
		<input type="text" name="productPrice" ng-model="newproduct.price" class="form-control">
		<label for="productImg">
		<h4> Image URL: </h4>
		</label>	
		<input type="text" name="productImg" ng-model="newproduct.imageUrl" class="form-control">
		<label for="productQuant">
		<h4> Inventory Quantity: </h4>
		</label>	
		<input type="text" name="productQuant" ng-model="newproduct.inventoryQuantity" class="form-control">
		<label for="productCollection">
		<h4> Collection: </h4>
		</label>	
		<input type="text" name="productName" ng-model="newproduct.collection" class="form-control">
		<button type="submit" class="btn btn-success" ng-click="editProduct(newproduct, product)">Update Product</button>

		<button type="submit" class="btn btn-success" ng-click="deleteProduct(product)">Delete Product</button>
		</form>
		</div>
		</section>
	</ul>
</div>