<h2>Manage Orders</h2>

<!-- SEARCH -->
<br>
<div class="panel input-group">
    <span class="input-group-addon">Search</span>
    <input type="text" class="form-control" placeholder="by status" ng-model="statusSearch">
</div>

<div class="admin-container" ng-repeat="order in orders | filter: { status: statusSearch }">
<table class="table">
  <tr>
    <th>Order ID</th>
    <th>User</th>
    <th>Last Updated</th>
    <th>Status</th>
    <th>Update Status</th>
  </tr>
  <tr>
    <td>{{order.id}}</td>
    <td>{{order.userId}}</td>
    <td>{{order._updatedAt}}</td>
    <td>{{order.status}}</td>
    <td><select name="status" ng-model="newStatus" ng-options="status for status in allStatus" required>{{status}}</select></td>
  </tr>
</table>

<br>
<button type="submit" class="btn btn-success" ng-click="updateStatus(order, newStatus)">Update Status</button>

</div>
