<h2>My Orders</h2>

<div ng-hide="orders.length" >
  No orders yet. <a ui-sref="home">Want to place one?</a>
</div>

<div class="admin-container" ng-repeat="order in orders" ng-show="orders.length">
    <div class="row revrow">
        <div class="col-sm-3">
          <strong>Created:</strong>
          <br>{{order._createdAt}}
        </div>
        <div class="col-sm-3">
          <strong>Status:</strong>
          <br>{{order.status}}
        </div>
        <div class="col-sm-3">
          <strong>Updated:</strong>
          <br>{{order._updatedAt}}
        </div>
    </div>
    <div class="row revrow" >
      <div class="col-sm-3"><strong>Products Ordered:</strong></div>
      <br>
      <ol>
        <li ng-repeat="product in order.products">
          <a ui-sref="product({id: product.id})">{{product.name}}</a>
        </li>
      </ol>
    </div>
</div>
