<div ng-hide="reviews.length">
  No reviews yet.
</div>

<div class="admin-container container reviews" ng-repeat="review in reviews" ng-show="reviews.length">
    <div class="row revrow">
        <div class="col-sm-5">
          <strong><a ui-sref="product({id:review.product.id})">{{review.product.name}}</a></strong>
        </div>
        <div class="col-sm-3">
          <img ng-src="js/common/stars/{{review.stars}}.png">
        </div>
    </div>
    <div class="row revrow">
        <div class="col-sm-8">{{review.description}}</div>
    </div>
</div>