<section id="shopping_cart">

<table class='table'>
    <thead>
      <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>Change Qty</th>
        <th>Unit Price</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='product in products'>
        <td>{{product.name}}</td>
        <td>{{product.OrderProducts.quantity}}</td>
        <td><button class="btn btn-default btn-xs" ng-click="decreaseQuantity(product)"><span class="glyphicon glyphicon-minus"></span><button class="btn btn-default btn-xs" ng-click="increaseQuantity(product)"><span class="glyphicon glyphicon-plus"></span></td>
        <td>{{product.price | currency}}</td>
        <td>{{product.OrderProducts.quantity * product.price | currency}}</td>
        <td><button class="btn btn-default btn-xs" ng-click="removeItem(product)"><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    </tbody>
  </table>
   <button type="submit" ng-click="checkout()">Checkout</button>


