<div>
	<h3>Create new product</h3>

	<form name="product">
		<label for="productname">Name</label>
		<input class="form-control" type="text" ng-model="product.name" name="productname">

		<label for="description">Description</label>
		<input class="form-control" type="text" ng-model="user.description" name="description">

		<label for="price">Price</label>
		<input class="form-control" type="text" ng-model="user.price" name="price">

		<label for="image">Image URL</label>
		<input class="form-control" type="text" ng-model="user.imageUrl" name="image">

		<label for="inventory">Inventory Quantity</label>
		<input class="form-control" type="text" ng-model="user.inventoryQuantity" name="inventory">

		<button type="submit" class="btn btn-success" ng-disabled="product.$invalid" ng-click="createProduct(product)">Create Product</button>
	</form>

	<br>

	<h3>Update curent products</h3>

	<ul>
		<li ng-repeat="product in products">
		<h4>Name: {{product.name}}</h4>
		<h4>Description: {{product.description}}</h4>
		<button type="submit" class="btn btn-success" ng-click="deleteProduct(product)">Delete Product</button>
		</li>
	</ul>
</div>