navbar {

  display: block;
  background: none;

  .container {
    width: 100%;
    // max-width: 1170px;
    padding-top: 20px;
  }

  .header-image {
    margin: 0px;
    // background-image: url("http://img02.deviantart.net/2e5d/i/2013/309/f/6/wish_upon_a_star_by_nikkidoodlesx3-d6t7zjw.jpg");
    // background-size: cover;
    width: 100%;
    // z-index: -1;
    // position: absolute;

  }

  .list-inline {
    padding: 5px;
  }

  wish-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  sidebar {
    background: red;
  }

  a {
    color: #7D3C98;
    font-size: 20px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #BB8FCE;
    }
    &:focus {
      background: none;
    }
  }

  .btn-primary {
    float: right;
  }

  .btn-shop {
    background: none;
  }


  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}



/* Dropdown Button */
.dropbtn {
    background-color: none;
    color: blue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color: red;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}