navbar {

  display: block;
  background: white;
  border-bottom: 1px solid black;

  .container {
    width: 100%;
    // max-width: 1170px;
    padding-top: 20px;
  }

  .header-image {
    margin: 0px;
    background-image: url("http://img02.deviantart.net/2e5d/i/2013/309/f/6/wish_upon_a_star_by_nikkidoodlesx3-d6t7zjw.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    // z-index: -1;
    // position: absolute;

  }

  .list-inline {
    padding: 5px;
  }

  wish-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  sidebar {
    background: red;
  }

  a {
    color: white;
    font-size: 20px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .btn-primary {
    float: right;
  }


  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}

