.product-image {
	width: 90%;
  background-color: #EAECEE;
  padding: 1px;
  border: 30px solid white;
	display: inline-block;
  
  align: right;
}

.cart-button {

	border: none;

	background: #F39C12;
	&.active {
      background: yellow;
    }
    &:hover {
      background: #E67E22;
      color: white;
    }
    &:focus {
      background: none;
    }
}

p {
	text-align: justify;
  margin-bottom: 2px;
}

h3 {
  margin-top: 16px;
}

