<div class="container">
<form id="login-form" name="loginForm" novalidate ng-submit="loginForm.$valid && sendLogin(login)">
<alert type="danger" ng-show="error">{{ error }}</alert>
<div ng-messages="loginForm.email.$error" ng-hide="loginForm.email.$pristine || !loginForm.email.$error.email" role="alert">
<div ng-message="email" class="alert alert-warning">Please enter a valid email</div>
</div>

  <div class="row">
    <div class="col-lg-8">
      <h2>Login Or Sign Up</h2>
    </div>

    <div class="col-lg-4">
      
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="form-group">
      <label for="email"><h4>Email address</h4></label>
      <input type="email" name="email" ng-model="login.email" class="form-control" id="email" placeholder="Enter email" required>
      </div>

      <div class="form-group">
      <label for="login-password"><h4>Password</h4></label>
      <input type="password" name="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password" required>
      </div>

      <button type="submit" class="btn btn-primary btn-lg">Submit</button>

    </div>
      
    <!-- </div> -->
    <div class="buffer oauth col-lg-4">
      <p>
        <oauth-button provider-name="Google"></oauth-button>
      </p>
      <p>
        <oauth-button provider-name="Twitter"></oauth-button>
      </p>
      <p>
        <oauth-button provider-name="GitHub"></oauth-button>
      </p>

      
    </div>

  </div>
</form>
</div>






