* {
  box-sizing: border-box;
}

// body {
//   background: none;
//   background-image: url("background-wallpaper.jpg");

// }

body {
  background-color: white;
  background-image: linear-gradient(to left, white, #E8F8F5, #EBF5FB, #EAF2F8, #F4ECF7, #F5EEF8);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #85929E;

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("../fonts/RobotoCondensed-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Rochester";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Rochester-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "YellowUmbrella";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/YellowUmbrella.ttf") format('truetype');
}

// @font-face {
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 300;
//   src: local('Roboto'), local('Roboto'), url("../fonts/Roboto-Regular.ttf") format('truetype');
// }

#main {
  width: 80%;
  padding-top: 80px;
  padding-left: 50px;
  margin: 0 auto;
  background: none;
}

p {
  color: #85929E;
  display: inline-block;
  margin: 0;
}


h1 {
  font-family: "Roboto Condensed",'Raleway', sans-serif;
  color: #5D6D7E;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid #424242;
  padding-bottom: 4px;
  display: inline-block;
  margin: 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #5D6D7E;
  font-weight: 400;
  font-size: 26px;
  padding-top: 6px;
  padding-bottom: 8px;
  display: inline-block;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #5D6D7E;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 6px;
    margin-right: 10px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #5D6D7E;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 6px;
    margin-right: 10px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color: #5D6D7E;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

figcaption {
  font-size: 16px;
}



.reviews {
  margin: 30px 0px;
  border: 1px solid #ddd;
}

.revrow {
  padding: 10px 0;
}

.product-thumbnail {
  width: 240px;
  height: 240px;
  align: middle;
  margin-bottom: 10px;
  border: 1px solid #EAECEE;
}

figure {
  width: 220px;
  // min-height: 500px;
  display: inline-block;
  background: white;
  border: 18px solid white;
  padding-top: 12px;
  margin-right: 40px;
  margin-top: 40px;
  // align: middle;
  text-align: center;
}

div.stretchy-wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background: white;
}
 
div.stretchy-wrapper > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    color: white;
    font-size: 24px;
    text-align: center;
}

.qty-dropdown {
  font-size: 16px;
  text-align: right;
  height: 44px;
}

.admin-container {
  background: white;
  padding: 14px 28px 30px 28px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.admin-review-box {
  margin-bottom: 18px;
  text-align: justify;
}

.admin-nav-tabs {
  margin-top: 30px;
}

.admin-product-thumbnail {
  width: 300px;
  height: 300px;
  align: left;
}

input {
  margin-bottom: 10px;
}

footer {
  text-align: center;
}




@import 'directives/_main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import "bootstrap-social/font-awesome.scss"