* {
  box-sizing: border-box;
}

body {
  // background: #fdfdfd;
  background: black;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 40px;
  margin: 0 auto;
  background: pink;
}

sidebar {
  background: red;
	a {
		color: blue;
	}
}

.reviews {
  margin: 30px 0px;
  border: 1px solid #ddd;
}

.revrow {
  padding: 10px 0;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import "bootstrap-social/font-awesome.scss"