* {
  box-sizing: border-box;
}

body {
  background: none;
  background-image: url("background-wallpaper.jpg");

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 40px;
  margin: 0 auto;
  background: none;
}

figcaption {
  font-size: 16px;
}

.reviews {
  margin: 30px 0px;
  border: 1px solid #ddd;
}

.revrow {
  padding: 10px 0;
}

.product-thumbnail {
  width: 320px;
  height: 320px;
  border: white;

  // margin-top: 50px;
}

.product-thumbnail-tiles {
  display: inline-block;
  margin-top: 50px;
}

span .product-thumbnail-tiles {
  background: white;
}

@import 'directives/_main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import "bootstrap-social/font-awesome.scss"